.MyTickets {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: medium;
}

.Ticket {
    background: var(--light-blue);
    padding: var(--padding);
    transition: 300ms ease-in-out;
    border-radius: 10px;

    &:hover {
        filter: brightness(0.9);
    }
}