h1 {
    text-align: center;
    user-select: none;
    font-size: 50px;
}

.WelcomePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}


.button {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 450px;
    height: 90px;
    border-radius: 30px;
    background-color: var(--dark-blue);
    font-size: 30px;
}

.button span {
    color: var(--white);
    position: relative;
    top: 27.5px;
}

.button:hover {
    filter: brightness(0.85);
}