.SearchFlight {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: medium;
}

.SearchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.VerticalLayout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

.Select {
    width: 180px;
    height: 40px;
    padding: 0 var(--padding);
    text-align: center;
    background-color: var(--light-blue);
    border: 0;
    outline: none;
    border-radius: 10px;
    transition: 130ms ease-out 130ms;

    &:hover {
        filter: brightness(0.9);
    }

    &:focus {
        outline: 2px solid var(--dark-blue);
    }
}

.Input {
    width: 180px;
    height: 40px;
    padding: var(--padding);
    border: 1px solid var(--light-blue);
    border-radius: 10px;
    transition: 130ms ease-out 150ms;

    &:hover {
        filter: brightness(0.9);
    }

    &:focus {
        border: 2px solid var(--dark-blue);
        outline: none;
    }
}

.Button {
    width: 180px;
    height: 40px;
    text-align: center;
    background-color: var(--dark-blue);
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #FFFFFF;

    &:hover {
        filter: brightness(0.9);
    }

    &:focus {
        outline: 2px solid var(--light-blue);
    }
}

.Plane {
    width: 100%;

}