/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap'); */

* {
  --padding: 15px;
  --black: #141414;
  --white: #F1F1F1;
  --light-blue: #4FC3F7;
  --dark-blue: #0989C3;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
  color: var(--black);
  box-sizing: border-box;
}